<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
 
	<bean class="com.psl.Performer" id="performer" />
	<bean class="com.psl.Audience" id="audience" />

<aop:aspectj-autoproxy/>


<!--
	<aop:config>

		<aop:aspect ref="audience">
			<aop:pointcut expression="execution(* com.psl.Performer.perform(..))"
				id="pc1" />
			<aop:pointcut expression="execution(* com.psl.Performer.giveAutograph(..))"
				id="pc2" />
			<aop:before method="takeSeats" pointcut-ref="pc1"  />
			<aop:before method="switchOffPhones" pointcut-ref="pc1" />
			<aop:after-returning method="applaud"
				pointcut-ref="pc1" />
			<aop:after-throwing method="demandAReturn"
				pointcut-ref="pc1" />
			<aop:after method="goHome" pointcut-ref="pc1" />
			
			<aop:around method="recordPerformance" pointcut-ref="pc1"/>
		</aop:aspect>




	</aop:config> -->
</beans>
